<script src="{{ theme_path }}/assets/js/jquery-3.5.1.min.js"></script>
<script src="{{ theme_path }}/assets/js/jquery.form.js"></script>
<script src="{{ theme_path }}/assets/js/jquery-ui.min.js"></script>
<script src="{{ theme_path }}/assets/js/bootstrap.min.js"></script>
<script src="{{ theme_path }}/assets/js/scripts.js"></script>

</body>
</html>